.simple-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 3.2rem;
	background-color: #f7f7f7;
	border-radius: 0.5rem;
	&__item {
		display: flex;
		align-items: center;
		.list-title + .simple-list {
			margin-left: 3rem;
		}
	}
	@include bp($point_6) {
		flex-wrap: wrap;
		padding: 2rem;
		&__item{
			flex-wrap: wrap;
			width: 100%;
			.list-title{
				width: 100%;
				margin: 0 0 1rem 0;
			}
			.list-title + .simple-list {
				margin-left: 0;
			}
			.simple-list{
				margin: 0;
				&__item{
					margin: 0;
				}
			}
		}
	}
}
