//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-header: 4.1rem;
	--height-footer: 0;
	--gl-indent: 3rem;
}

html {
	height: 100%;
	font: 400 calc(100vw / 1920 * 10) / 1.33 $font_1;
	@include bp(1400px) {
		font: 400 calc(100vw / 1400 * 10) / 1.33 $font_1;
	}
	@include bp($point_2) {
		font: 400 calc(100vw / 1024 * 10) / 1.33 $font_1;
	}
	@include bp($point_6) {
		font: 400 calc(100vw / 480 * 10) / 1.33 $font_1;
	}
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
}

.base {
	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0;

	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: $color_link_base;
}

.elements_list {
	padding: 3rem;
}

.container {
	width: 120rem;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include bp($point_2) {
		width: 100%;
		padding: 0 3rem;
	}
	@include bp($point_6) {
		padding: 0 1.5rem;
	}
}

.page-title {
	display: block;
	margin-bottom: 4rem;
	font-size: 3.2rem;
	font-weight: 300;
}

img.lazy {
	-webkit-filter: blur(15px);
	filter: blur(15px);
	transition: filter 400ms, -webkit-filter 400ms;
}

img.initial,
img.loaded,
img.error {
	-webkit-filter: blur(0);
	filter: blur(0);
}
//------------------------------------------------------------base styles###
